fastapi
uvicorn
sqlalchemy
passlib       # for hashing
bcrypt        # for hasihing
python-multipart  #able to upload a file
aiofiles      # for setting file folder staticl accessable
python-jose   # for authentication